name: "Build & Release"
on:
  push:
    branches:
      - master
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v2.3.1
        working-directory: ./gatsby-theme-nyxo-coaching

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "10.x"

      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build:gatsby

      - name: "Pump version"
        uses: "phips28/gh-action-bump-version@master"
        with:
          tag-prefix: ""

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Spam Slack
        if: always()
        uses: adamkdean/simple-slack-notify@1.0.4
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          channel: "#development"
          username: "coaching.nyxo.app"
          status: ${{ job.status }}
          success_text: "New version (#${env.GITHUB_RUN_NUMBER}) of Nyxo theme completed successfully. Go to coaching.nyxo.app to see it in action"
          failure_text: "Deployment (#${env.GITHUB_RUN_NUMBER}) of Nyxo theme failed. Please go see what's wrong with this build"
          cancelled_text: "Deployment (#${env.GITHUB_RUN_NUMBER}) was cancelled"
          fields: |
            [{ "title": "Host", "value": "${{ secrets.DEPLOY_HOST }}"},
            { "title": "Action URL", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
